/* Responsive */
@media (max-width: 77.999em) { /*max-width: 1279.99px*/
    .citrusStylesSE-seresto__hero {
        padding: 1em 2% 0;
        gap: 1em;
    }

    .citrusStylesSE-seresto__hero--img{
        max-width: 350px;
    }

    .citrusStylesSE-seresto__hero--text img{
        max-width: 150px;
    }
    
    .citrusStylesSE-seresto__hero--text .citrusStylesSE-header2 {
        font-size: calc(var(--citrusStylesSE-text-font-size-large) + 5px);
    }

    /* 3-Across */
    .citrusStylesSE-seresto__education {
        justify-content: flex-start;
    }
}

@media (max-width: 63.999em) { /*max-width: 1023.99px*/
    .citrusStylesSE-seresto__hero {
        padding: 1em 2% 0;
        gap: 10px;
    }

    .citrusStylesSE-seresto__hero--img{
        max-width: 270px;
    }

    .citrusStylesSE-seresto__hero--text img{
        max-width: 140px;
    }
    
    .citrusStylesSE-seresto__hero--text .citrusStylesSE-header2 {
        font-size: calc(var(--citrusStylesSE-text-font-size-medium) + 4px);
    }
}

@media (max-width: 47.999em) { /*max-width: 767.99px*/
    .citrusStylesSE-seresto__hero {
        flex-direction: column;
        padding: 1em 1% 0;
    }

    .citrusStylesSE-seresto__hero--text {
        text-align: center;
    }

    .citrusStylesSE-seresto__hero--text img{
        margin: 0 auto;
        max-width: 118px;
    }

    .citrusStylesSE-seresto__hero--text .citrusStylesSE-header2 {
        font-size: calc(var(--citrusStylesSE-text-font-size-large) + 5px);
        padding-top: 20px;
    }

    .citrusStylesSE-seresto__hero--img{
        max-width: 258px;
    }

    .citrusStylesSE-seresto__hero .citrusStylesSE-disclaimer {
        padding-bottom: 0;
    }
}

@media (max-width: 19.999em) { /*max-width: 319.99px*/

    .citrusStylesSE-seresto__hero--text .citrusStylesSE-header2 {
        font-size: calc(var(--citrusStylesSE-text-font-size-medium) + 4px);
    }
}